*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
	width: 980px;
	margin: 0 auto;
    height: 100%;
}

/* HEADER */
header{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    background-image: url("../images/header_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}

/* .ap_menu ul li a.active:after{
	width: 100%;
	background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    height: 3px;
} */

.navigation ul li a:after {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0px;
    content: '';
    height: 3px;
    width: 0;
    transition: all 0.3s ease-in-out;
}

.navigation ul li a:hover:after {
    width: 100%;
}


/*HEADER CONTENT*/

.main-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header>img{
    width: 25%;
}

.content-header{
    width: 50%;
}

.social_btns{
    margin-top: 15px;
}


/* MAIN BLOCK-BRILLIANT */
.block-brilliant{
    /* height: 200px; */
    background: linear-gradient(to right, rgb(59, 205, 190), rgb(23,201,243));
}

.block-brilliant .container{
    text-align: center;
    padding-top: 20px;
}

.content_two{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}
.third_block{
    width: 33%;
}

.content_two img{
    width: 33%;
} 


/* FOOTER */
footer{
    width: 100%;
    background-color: #161e23;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

